# frontend
/frontend/node_modules
/frontend/.next
/frontend/.env

# backend
/backend/node_modules
/backend/user_service/node_modules
/backend/post_service/node_modules
/backend/notification_service/node_modules
/backend/laporan_service/node_modules
/backend/.env

# common
.DS_Store
