@import "tailwindcss";

@theme {
    /* Light Mode */
    --color-primary: #0057A3;
    --color-secondary: #65758B;
    --color-tertiary: #f7f7f7;
    --color-background: #F9FAFB;
    --color-accent: #6C94CC;
    --color-text: #1F2937;
    --color-textBody: #6B7280;

    /* Dark Mode */
    --color-primaryDark: #446FAB;
    --color-secondaryDark: #74849A;
    --color-tertiaryDark: #111A27;
    --color-backgroundDark: #060d16;
    --color-accentDark: #345B93;
    --color-textDark: #f9fafb;
    --color-textBodyDark: #9a9c9c,
}

@custom-variant dark (&:where(.dark, .dark *));

/* Sweet Alert */
.swal2-popup.dark-swal {
    background-color: #111A27 !important;
    color: #f9fafb !important;            
}

.swal2-title,
.swal2-content {
    color: inherit !important;
}

/* Scrollbar style untuk modern look */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.custom-scrollbar:hover {
    scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}
.banner1 {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 30%, transparent 100%), url('/images/banner1.jpg') center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden;
}
.bg-lapor {
    background: url('/images/banner1.jpg') center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}