@import "tailwindcss";

@theme {
    --color-primary: #0057A3;
    --color-secondary: #24262B;
    --color-tertiary: #2B2D33;
    --color-background: #1E1E1E;
    --color-accent: #6C5CE7;
    --color-text: #FBFBF9;
}